In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
abalone = pd.read_csv('Data/mlb_results.csv')

In [3]:
abalone.head()

,Team,Date,WinLoss,HapSen,SadSen,GenSen,PosPol,NeuPol,NegPol,ComPol,YesCog,NoCog
0,CHC,2016-04-11,1,10450,3697,14147,37795,1009,48980,27055,72,69131
1,CHC,2016-04-13,1,9700,3205,12905,36267,975,47186,26090,75,66327
2,CHC,2016-04-14,1,9748,3617,13365,41003,932,52609,29796,97,73681
3,CHC,2016-04-15,0,9169,3142,12311,36518,1017,48456,26654,70,66714
4,CHC,2016-04-16,1,9048,2693,11741,35439,1002,47263,26392,86,63830

In [4]:
abalone.columns = ['Team', 'Date', 'WinLoss', 'HapSen', 'SadSen', 'GenSen', 'PosPol', 'NeuPol', 'NegPol', 'ComPol', 'YesCog', 'NoCog']

In [5]:
abalone = abalone.drop("Team", axis=1)
abalone = abalone.drop("Date", axis=1)

In [6]:
correlation_matrix = abalone.corr()
correlation_matrix["WinLoss"]

WinLoss    1.000000
HapSen     0.083350
SadSen     0.078135
GenSen     0.082519
PosPol     0.072996
NeuPol     0.051363
NegPol     0.072139
ComPol     0.070545
YesCog     0.029789
NoCog      0.076080
Name: WinLoss, dtype: float64