In [35]:
# https://stackoverflow.com/questions/3207219/how-do-i-list-all-files-of-a-directoryfrom os import listdir

from os.path import isfile, join
files = [f for f in listdir('Team_WL') if isfile(join('Team_WL', f))]

files_clean = []

for i in files:
    x = i.replace(".csv", "")
    files_clean.append(x)

print(files_clean)

['NYM19', 'SDP17', 'OAK18', 'MIN17', 'BAL17', 'CLE17', 'TOR16', 'DET19', 'KCR19', 'ANA19', 'LAD17', 'MIN18', 'TOR18', 'COL16', 'HOU17', 'FLA16', 'SEA18', 'AZ16', 'TEX19', 'SDP16', 'MIN16', 'PHI19', 'OAK19', 'BOS19', 'BAL16', 'BOS18', 'SEA19', 'PIT17', 'PIT16', 'MIL18', 'AZ17', 'KCR17', 'WSN18', 'TEX16', 'COL19', 'CHC16', 'STL18', 'CIN17', 'OAK17', 'SEA17', 'LAD18', 'SFG17', 'PIT19', 'PHI18', 'ANA16', 'BAL18', 'ATL16', 'SDP19', 'HOU18', 'SFG16', 'CIN16', 'MIL19', 'PHI16', 'DET18', 'CLE19', 'WSN19', 'STL16', 'TOR19', 'NYY19', 'ANA17', 'BOS16', 'FLA18', 'NYY16', 'BAL19', 'NYY17', 'NYM16', 'CHW19', 'ANA18', 'KCR16', 'CLE16', 'LAD16', 'MIL17', 'SFG18', 'HOU19', 'DET16', 'BOS17', 'NYM18', 'COL18', 'FLA19', 'WSN16', 'CHW16', 'TEX18', 'FLA17', 'HOU16', 'ATL19', 'CHC18', 'CIN19', 'TBD16', 'WSN17', 'AZ19', 'STL17', 'CHW18', 'NYM17', 'ATL18', 'NYY18', 'TBD18', 'PHI17', 'COL17', 'CLE18', 'MIL16', 'ATL17', 'CHW17', 'SEA16', 'TBD17', 'DET17', 'LAD19', 'TOR17', 'SFG19', 'KCR18', 'CIN18', 'TBD19', 'TEX17', 'CHC19', 'CHC17', 'AZ18', 'PIT18', 'OAK16', 'MIN19', 'STL19', 'SDP18']

In [45]:
import pandas as pd

dict_team = {}

for i in files_clean:
    df = pd.read_csv(f'Team_WL/{i}.csv')
    dict_team[i] = len(df.dropna())

df_team = pd.DataFrame.from_dict(dict_team, orient='index', columns=['Games_Counts'])

df_team = df_team.reset_index()
df_team = df_team.rename(columns={'index': 'Team'})

df_team['Year']=df_team['Team'].str.slice(start=-2)
df_team['Team']=df_team['Team'].str.slice(stop=-2)
df_team = df_team[['Team', 'Year', 'Games_Counts']]

df_team = df_team.sort_values(['Team', 'Year'])

df_team

   Team Year  Games_Counts
44  ANA   16            81
59  ANA   17            81
67  ANA   18            81
9   ANA   19            79
46  ATL   16            80
..  ...  ...           ...
57  TOR   19            81
79  WSN   16            84
88  WSN   17            84
32  WSN   18            81
55  WSN   19            89

[120 rows x 3 columns]

In [37]:
df_team.to_csv('Games_Counts.csv', index=False)

In [43]:
df_team.groupby(['Team'])["Games_Counts"].sum()

Team
ANA    322
ATL    328
AZ     326
BAL    324
BOS    331
CHC    339
CHW    323
CIN    322
CLE    336
COL    325
DET    323
FLA    323
HOU    345
KCR    323
LAD    349
MIL    330
MIN    323
NYM    325
NYY    338
OAK    323
PHI    323
PIT    322
SDP    324
SEA    324
SFG    326
STL    328
TBD    326
TEX    326
TOR    329
WSN    338
Name: Games_Counts, dtype: int64